<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{> addScripts}}
    <title>Document</title>
</head>

<body>
    {{> navbar}}
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-3">
                <ul class="list-group" id="categories">
                </ul>
            </div>
            <div class="col"  id="prod">
                
            </div>
        </div>
    </div>
   <p>{{userdata}}</p>
   

</body>

</html>